
@{
    ViewData["Title"] = "AddTasks";
}
@Html.ValidationSummary()
<h1>Add A Task</h1>

<form action="../Tasks/AddTasks" method="post" class="form-control">
    Task: Description: <input type="text" name="TaskDescription" placeholder="Task Description" />
    Due Date: <input type="date" name="DueDate" placeholder="Due Date" />
    Task Complete: <input type="checkbox" name="Completed" value="true" />
    <input type="hidden" name="Completed" value="false" />
    <input type="hidden" value="false" name="Completed" />
    <input type="submit" value="Add a new Tesk!" />
</form>



